 .focus {
   width: 570px;
   height: 470px;
   background-color: pink;
   margin: 20px auto;
 }

 .carousel,
 .carousel img {
   width: 100%;
   height: 470px !important;
 }

 .carousel-caption {
   display: none;
 }